pre code {
  background: #272822;
  color: #ddd;
}
.reveal section blockquote {
  background: #fff;
  border-left: 10px solid #8d8d8d;
}
html:before {
  z-index: 2;
}
html:after,
html:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  width: 100%;
}
html:after {
  z-index: 0;
  background: -webkit-linear-gradient(right, #313131, #000 75%);
  background: linear-gradient(270deg, #313131, #000 75%);
  -webkit-transition: height 0.5s ease-in-out, background 0.25s ease-in-out;
  transition: height 0.5s ease-in-out, background 0.25s ease-in-out;
}
html.heading-slide h1,
html.heading-slide h2,
html.heading h1,
html.heading h2,
html.title-slide h1,
html.title-slide h2,
html.title h1,
html.title h2 {
  text-align: left;
}
html.heading-slide h1,
html.heading h1,
html.title-slide h1,
html.title h1 {
  color: #fff;
}
html.heading-slide section.present,
html.heading section.present,
html.title-slide section.present,
html.title section.present {
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
}
html.heading-slide:after,
html.heading:after,
html.title-slide:after,
html.title:after {
  background: -webkit-linear-gradient(25deg, #000, #313131 75%);
  background: linear-gradient(65deg, #000, #313131 75%);
  height: 65%;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
}
html.heading-slide body:after,
html.heading body:after,
html.title-slide body:after,
html.title body:after {
  width: 0;
}
body {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20180.7%20180.7%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%2C.cls-2%7Bfill%3A%23fff%3B%7D.cls-1%7Bstroke%3A%23bbbbbb%3Bstroke-miterlimit%3A10%3Bstroke-width%3A0.32px%3B%7D.cls-3%7Bfill%3A%23bbbbbb%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Epattern%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22180.86%20-45.16%20226.02%200%20226.02%20-90.32%20180.86%20-45.16%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22180.86%20-45.16%2090.54%20-45.16%20135.7%200%20180.86%20-45.16%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%20-90.32%2045.38%200%2090.54%20-45.16%2045.38%20-90.32%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%20-45.16%2045.38%200%2045.38%20-90.32%200.23%20-45.16%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%200%2045.38%200%200.23%20-45.16%200.23%200%22%2F%3E%3Cpolygon%20class%3D%22cls-2%22%20points%3D%22135.7%200%20180.86%200%20180.86%20-45.16%20135.7%200%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M181%2C.16h-45.7l.27-.27L181-45.54ZM136.09-.16H180.7V-44.77Z%22%2F%3E%3Cpolygon%20class%3D%22cls-2%22%20points%3D%2290.54%20-45.16%2090.54%200%20135.7%200%2090.54%20-45.16%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M136.09.16H90.38v-45.7l.27.27ZM90.7-.16h44.61L90.7-44.77Z%22%2F%3E%3Cpolygon%20class%3D%22cls-2%22%20points%3D%2245.38%200%2090.54%200%2090.54%20-45.16%2045.38%200%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M90.7.16H45l.27-.27L90.7-45.54ZM45.77-.16H90.38V-44.77Z%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22180.86%20225.84%20226.02%20271%20226.02%20180.68%20180.86%20225.84%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%2045.21%2045.38%200.05%200.23%200.05%200.23%2045.21%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22135.7%20180.68%20135.7%20271%20180.86%20225.84%20135.7%20180.68%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2290.54%20225.84%20135.7%20271%20135.7%20180.68%2090.54%20225.84%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22135.7%20180.68%20180.86%20225.84%20180.86%20135.52%20135.7%20180.68%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22180.86%20135.52%20226.02%20180.68%20226.02%2090.36%20180.86%20135.52%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%20225.84%2045.38%20271%2045.38%20180.68%200.23%20225.84%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%20180.68%2045.38%20271%2090.54%20225.84%2045.38%20180.68%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%20180.68%2090.54%20225.84%2090.54%20135.52%2045.38%20180.68%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2290.54%20135.52%2090.54%20225.84%20135.7%20180.68%2090.54%20135.52%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2290.54%20135.52%20135.7%20180.68%20135.7%2090.36%2090.54%20135.52%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22135.7%2090.36%20135.7%20180.68%20180.86%20135.52%20135.7%2090.36%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22135.7%2090.36%20180.86%20135.52%20180.86%2045.21%20135.7%2090.36%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22180.86%2045.21%20226.02%2090.36%20226.02%200.05%20180.86%2045.21%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%20225.84%2045.38%20180.68%200.23%20135.52%200.23%20225.84%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%2090.36%2045.38%20180.68%2090.54%20135.52%2045.38%2090.36%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%20135.52%2045.38%20180.68%2045.38%2090.36%200.23%20135.52%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%2090.36%2090.54%20135.52%2090.54%2045.21%2045.38%2090.36%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2290.54%2045.21%2090.54%20135.52%20135.7%2090.36%2090.54%2045.21%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22135.7%200.05%2090.54%2045.21%20180.86%2045.21%20135.7%200.05%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22180.86%2045.21%2090.54%2045.21%20135.7%2090.36%20180.86%2045.21%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22135.7%200.05%20180.86%2045.21%20180.86%200.05%20135.7%200.05%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%20135.52%2045.38%2090.36%200.23%2045.21%200.23%20135.52%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220.23%2045.21%2045.38%2090.36%2045.38%200.05%200.23%2045.21%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%200.05%2045.38%2090.36%2090.54%2045.21%2045.38%200.05%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2290.54%200.05%2090.54%2045.21%20135.7%200.05%2090.54%200.05%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%2245.38%200.05%2090.54%2045.21%2090.54%200.05%2045.38%200.05%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: repeat;
  background-size: 200px;
  background-color: #fff;
}
body:before {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(right, #fff 25%, hsla(0, 0%, 100%, 0));
  background: linear-gradient(270deg, #fff 25%, hsla(0, 0%, 100%, 0));
}
body:after,
body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body:after {
  height: 56px;
  width: 1%;
  background-color: #c82506;
  z-index: 1;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  -webkit-transform-origin: left;
  transform-origin: left;
}
.reveal {
  font-family: Lato, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #010101;
}
::selection {
  color: #fff;
  background: #961c05;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background: #961c05;
  text-shadow: none;
}
.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px;
  color: #c82506;
  font-family: League Gothic, Impact, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}
.reveal h1 {
  font-size: 3.77em;
}
.reveal h2 {
  font-size: 2.11em;
}
.reveal h3 {
  font-size: 1.55em;
}
.reveal h4 {
  font-size: 1em;
}
.reveal h1 {
  text-shadow: none;
}
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}
.reveal iframe,
.reveal img,
.reveal video {
  max-width: 95%;
  max-height: 95%;
}
.reveal b,
.reveal strong {
  font-weight: 700;
}
.reveal em {
  font-style: italic;
}
.reveal dl,
.reveal ol,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}
.reveal ol {
  list-style-type: decimal;
}
.reveal ul {
  list-style-type: disc;
}
.reveal ul ul {
  list-style-type: square;
}
.reveal ul ul ul {
  list-style-type: circle;
}
.reveal ol ol,
.reveal ol ul,
.reveal ul ol,
.reveal ul ul {
  display: block;
  margin-left: 40px;
}
.reveal dt {
  font-weight: 700;
}
.reveal dd {
  margin-left: 40px;
}
.reveal blockquote,
.reveal q {
  quotes: none;
}
.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: hsla(0, 0%, 100%, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}
.reveal q {
  font-style: italic;
}
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.reveal code,
.reveal pre {
  font-family: monospace;
}
.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.reveal table th {
  font-weight: 700;
}
.reveal table td,
.reveal table th {
  text-align: left;
  padding: 0.2em 0.5em;
  border-bottom: 1px solid;
}
.reveal table td[align='center'],
.reveal table th[align='center'] {
  text-align: center;
}
.reveal table td[align='right'],
.reveal table th[align='right'] {
  text-align: right;
}
.reveal table tbody tr:last-child td,
.reveal table tbody tr:last-child th {
  border-bottom: none;
}
.reveal sup {
  vertical-align: super;
}
.reveal sub {
  vertical-align: sub;
}
.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
}
.reveal small,
.reveal small * {
  vertical-align: top;
}
.reveal a {
  color: #c82506;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.reveal a:hover {
  color: #961c05;
  text-shadow: none;
  border: none;
}
.reveal .roll span:after {
  color: #fff;
  background: #7e1704;
}
.reveal section img {
  margin: 15px 0;
  background: hsla(0, 0%, 100%, 0.12);
  border: 4px solid #010101;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal section img.plain {
  border: 0;
  box-shadow: none;
}
.reveal a img {
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.reveal a:hover img {
  background: hsla(0, 0%, 100%, 0.2);
  border-color: #c82506;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #c82506;
}
.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #c82506;
}
.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #c82506;
}
.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #c82506;
}
.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #961c05;
}
.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #961c05;
}
.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #961c05;
}
.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #961c05;
}
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}
.reveal .progress span {
  background: #c82506;
  -webkit-transition: width 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
/*# sourceMappingURL=revealjs-theme.css.map */
