.attribution {
  font-size: 18px !important;
  color: #666;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal table {
  font-size: 20px !important;
}

.reveal img[alt='kronos-features'] {
  max-width: 600px;
  align-self: center;
}

.reveal img[alt='kronos-logo'] {
  max-width: 300px;
  max-height: 100px;
  align-self: center;
}
